.mainpages {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(7, 48, 94);
}
.homepage {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(7, 48, 94);
}
.homepage .title-card {
    font-family: 'Permanent Marker', cursive;
    color: rgb(7, 48, 94);
    font-weight: bold;
}

.title-card .card:hover {
    background-color: lightyellow;
}

#footer1 {
    background-color: #FFC700;
}
#footer2 {
    background-color: #025687;
}
nav img {
    width: 50px;
    height: 50px;
}
#navbar {
    background: rgba(0, 0, 0, 0.70);
}
.carousel-inner {
    border-radius: 15px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
#pic {
    width: 300px;
}
.icon {
    font-size: 2.5rem;
}
footer #halal {
    width: 50px;
    height: auto;
}
footer #LJSfooter {
    height: 25px;
    width: auto;
}
footer #footer2 {
    font-size: smaller;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.navbar-toggler-icon {
    fill: white;
}
nav {
    font-size: large;
}
